.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Ajusta según sea necesario */
  gap: 20px; /* Espaciado entre las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 60px;  
  margin-left: 50px;
  min-height: 100vh;
}

.cardItem:nth-child(3n) {
  margin-right: 0;
}

.cardItem {
  width: calc((100% / 3) - 20px); /* Ajustamos el ancho para mostrar 3 tarjetas por fila */
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

/* Media Query para dispositivos con un ancho de pantalla de 768px o más pequeño */
/* ----------- Estilos Responsivos ----------- */
@media screen and (max-width: 768px) {
  /* Estilos específicos para dispositivos con un ancho máximo de 768px */
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-30%);
}
  .cardItem {
      width: 100%; 
      box-sizing: border-box; /* incluimos el padding en el ancho total */
      flex-direction: column;
  }
}

/* Estilos específicos para dispositivos con un ancho entre 769px y 967px */
@media screen and (min-width: 769px) and (max-width: 967px) {
  
  .cardItem {
    width: calc((100% / 2) - 20px); /* Ajustamos el ancho para mostrar 2 tarjetas por fila */
  }
}