/* Estilos para el contenedor principal de la tarjeta */
.cardContainer {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden; /* Asegura que el contenido no desborde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column; /* Establece la dirección de los elementos en columna */
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Estilos para la imagen dentro de la tarjeta */
.cardImage {
  width: 100%;
  height: 200px; /* Altura fija para la imagen, ajusta según sea necesario */
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
}

/* Estilos para la información dentro de la tarjeta */
.cardInfo {
  margin: 10px;
  font-size: 16px;
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
  color: #333;
}

/* Efecto al pasar el ratón sobre la tarjeta */
.cardContainer:hover {
  transform: scale(1.05); /* Aumenta el tamaño al hacer hover */
}
