

body {
    margin: 0;
  }

.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.postimg.cc/C1bH4GFk/bg.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .title {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .buttons {
    position: relative; /* Para controlar el posicionamiento de los botones */
    z-index: 1; /* Establecer un z-index para que los botones estén por encima del ahumado */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #333;
    /* transition: background-color 0.3s transform ease-in-out; */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;

  }
  
  .buttons button:hover {
    background-color: #f3eb0c;
    transform: scale(1.1);
  }
  
  .buttons button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.registerText {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color:rgba(240, 248, 255, 0.651);
    z-index: 1;
  }
  
  .registerText a {
    color: #38a1db;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
  }
  
  .registerText a:hover {
    text-decoration: underline;
  }
  